@{
    ViewBag.Title = "Corinne Païre Lasjunies's website";
}

<h2>Index2 avec TS client</h2>

<div data-role="page" id="pageAdminPaints" data-theme="a" class="my-page">
    <div data-role="header">Paints list admin</div>
    <div data-role="content">
        <ul id="listPaints" data-role="listview" data-autodividers="true" data-theme="a" data-inset="true">
        </ul>
    </div>
    <!-- content -->
</div>
<!--pageTestUploadfile-->


<div data-role="page" id="pageAdminPaint" data-theme="a">
    <div data-role="header">Paint detail</div>
    <div data-role="content">
    </div>
    <!--content-->
</div>
<!--pageTestResult-->

<script src="../../scripts/jquery-2.0.3.js"></script>
<script src="../../scripts/jquery.mobile-1.3.1.js"></script>

<script src="../../ClientFramework/core_misc.js"></script>
<script src="../../ClientFramework/core_pubsub.js"></script>
<script src="../../ClientFramework/core.js"></script>
<script src="../../ClientFramework/core_restAPI.js"></script>
<script src="../../Models/paints.js"></script>
<script src="../../Client/appPaints.js"></script>