@model cpl_azure.Models.AboutMe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AboutMe</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Biographie)
    </div>
    <div class="display-field">
        @Html.Raw(HttpUtility.HtmlDecode(Model.Biographie))
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AboutMeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
